.section{
    margin: 0;
    font-size: 2rem;
    display: flex;
    background-color: #CDD6DD;
}

nav{
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 100vh;
    padding-left: 10px;
}
.rist{
    margin-bottom: 0;
}
.new-rist{
    margin-top: 0;
}
hr{
    height: 1px;
    width: 80%;
    text-align: center;
}
main{
    min-height: 80vh;
    width: 50%;
    margin: 70px auto;
    background-color: #fff;
}
aside{
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

h3{
    margin: 0 auto;
    text-align: center;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
input{
    margin: 10px;
}
.open,
.close {
    display: none;
}
input[id="menu"]{
    position: absolute;
    left: -50vw;
}

@media screen and (max-width:800px) {

.header{
    height: 30px;
    position: absolute;
    background-color: #CDD6DD;

}
main{
    width: 100%;
    height: 100%;
}
.today-task{
    margin-top: 30px;
}
h3{
    text-align: center;
}
.footer{
    height: 30px;
    background-color: #CDD6DD;
    bottom: 0;
    position: absolute;
}
/* ハンバーガー */
label{
    position: relative;
}

span,span::before,span::after{
    display: block;
    height: 5px;
    width: 30px;
    background-color: #fff;
    top: 10px;
    content: "";
    position: absolute;
}
span::before{
    top:10px   
}
span::after{
    top: 20px;
}
.open,
.close{
    display: block;
}
.open{
    position: absolute;
}

nav,
aside{
    position: absolute;
    left: -500px;
    height: 100%;
    transition: all 0.2s;
    background: #fff;
}
input[type="checkbox"]:checked ~ nav{
    left: 0;
}
input[type="checkbox"]:checked ~ .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
}